.App {
  font-family: sans-serif;
  margin: 10px 20px;
  max-width: 600px;
}
.headline {
  font-size: 45px;
  margin: 20px;
  text-align: center;
}
.container {
  background: lightblue;
  padding: 20px;
  border: solid black 2px;
  border-radius: 4px;
}
.city {
  text-align: center;
  font-size: 28px;
}
.emoji {
  font-size: 45px;
}
.form {
  font-size: 20px;
  padding: 5px;
}
.temperature {
  font-size: 45px;
}
.github {
  text-decoration: none;
  color: purple;
}
.github:hover {
  text-decoration: underline;
  color: blueviolet;
}
.linkedin {
  text-decoration: none;
}
.linkedin:hover {
  text-decoration: underline;
  color: blueviolet;
}
.formCity {
  border-radius: 8px;
  font-size: 28px;
}
.description {
  font-variant-caps: petite-caps;
  color: blueviolet;
}
footer {
  font-size: 20px;
  padding: 10px;
}
hr {
  color: black;
}
