.weather {
  color: black;
  background-color: white;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 3px;
}
.citySearch {
  text-align: left;
  padding: 30px;
  padding-top: 0;
  margin: 0;
}

.weather ul {
  margin: 0;
  padding-bottom: 20px;
}
.weather form {
  padding: 20px;
}
.weather li {
  font-size: 16px;
  font-weight: 100;
  height: 18px;
  line-height: 18px;
  text-align: left;
  list-style: none;
}

.weather .climate {
  font-size: 40px;
  padding: 10px;
}

.weather .climate-farenheint {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  color: lightskyblue;
  padding: 10px;
}

.weather .unit-farenheint {
  font-size: 28px;
  font-style: italic;
  font-weight: lighter;
  color: lightskyblue;
}

.weather img {
  padding-top: 20px;
  padding-bottom: 20px;
}

#box {
  background-color: white;
  border: none;
}
.next-days {
  font-style: italic;
  color: white;
  background-color: blue;
}
